{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h2>Añadir un stream</h2>
    {% if form %}
    {{ wtf.quick_form(form, extra_classes="form-horizontal", form_type="horizontal", horizontal_columns=('sm', 2, 10)) }}
    {% endif %}
    <br>
    <button onclick="myFunction2()">Populate</button>
    <button onclick="myFunction3()">Populate2</button>
    <script>
        function myFunction2() {
            var peinejs = '{{  peine  }}';
  document.getElementsByName("title")[0].value = peinejs;
    }
        function myFunction3() {
  document.getElementsByName("title")[0].value = "https://www.w3schools.com2";
    }
    </script>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Origin</th>
            <th scope="col">Server</th>
            <th scope="col">Stream Key</th>
            <th scope="col">User</th>
            <th scope="col">Started</th>
            <th scope="col"><div class="text-center">Status</div></th>
            <th scope="col"><div class="text-center">Stop</div></th>
          </tr>
        </thead>
        <tbody>
            {% for streaming in streamings %}
                {% include '_streaming.html' %}
            {% endfor %}
        </tbody>
    </table>
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Newer streams
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Older streams<span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}